<%- include('templates/header')%>
    <div class="container mt-3 mb-3">
        <div class="card">
            <div class="card-header">
                <h1>Usuarios</h1>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="table-success">
                        <th>ID:</th>
                        <th>User:</th>
                        <th>Name:</th>
                        <th>Email:</th>
                        <th>Password:</th>
                        <th>Active</th>
                        <th>Type</th>
                        <th>Photo</th>
                        <th>Editar</th>
                        <th>Borrado Lógico</th>
                        <th>Borrado Físico</th>
                    </thead>
                    <tbody class="text-center justify-content-center">
                        <% users.forEach((user)=> {
                            %>
                            <tr>
                                <td>
                                    <%= user.id_usr %>
                                </td>
                                <td>
                                    <%= user.usr %>
                                </td>
                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= user.password %>
                                </td>
                                <td>
                                    <%= user.active %>
                                </td>
                                <td>
                                    <%= user.type %>
                                </td>
                                <td><img src="../web/img/user/<%= user.photo %>" width="40%"></td>
                                <td><a href="/editUser/<%= user.id_usr %>" class="btn btn-primary">Editar Usuario</a>
                                <td><a href="/deleteLogicalUser/<%= user.id_usr %>" class="btn btn-warning">Borrado Lógico</a></td>
                                <td><a href="/deletePhysicalUser/<%= user.id_usr %>" class="btn btn-danger">Borrado Físico</a></td>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <%- include('templates/footer')%>